subscription_id           = "00000000-0000-0000-0000-000000000000"
location                  = "eastus"
resource_group_name       = "qualys-scanner-rg"
qualys_endpoint           = "https://gateway.qg1.apps.qualys.com"
qualys_subscription_token = ""
target_locations          = ["eastus"]
target_cloud              = "AzureCloud"
debug_enabled             = false
event_based_discovery     = false
scan_interval_hours       = 24
poll_interval_hours       = 4
location_concurrency      = 5
scanners_per_location     = 1
app_version               = "3.20.0"
custom_deployment_id      = ""
role_boundary             = ""
tags                      = {}
runtime_resource_tags     = {}
